:host {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  // border: solid 1px red;

  img {
    width: 75px;
    transform: scaleX(-1);
  }

  .text {
    // border: solid 1px blue;
  }

  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(255,255,255,0.65);
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
