.example-card {
  max-width: 400px;
}

.example-header-image {
  background-image: url("https://ih1.redbubble.net/image.622263640.4532/st,small,507x507-pad,600x600,f8f8f8.u1.jpg");
  background-size: cover;
}
